@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&display=swap');

:root {
  --light-text: #fff;
  --dark-text: hsl(229, 25%, 31%);
  --score-text: hsl(229, 64%, 46%);
  --header-outline: hsl(217, 16%, 45%);
  --background-grad-1: hsl(214, 47%, 23%);
  --background-grad-2: hsl(237, 49%, 15%);
  --scissors-grad-1: hsl(39, 89%, 49%);
  --scissors-grad-2: hsl(40, 84%, 53%);
  --paper-grad-1: hsl(230, 89%, 62%);
  --paper-grad-2: hsl(230, 89%, 65%);
  --rock-grad-1: hsl(349, 71%, 52%);
  --rock-grad-2: hsl(349, 70%, 56%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-transform: uppercase;
}

body {
  font-family: 'Barlow Semi Condensed', sans-serif;
  background: radial-gradient(
    at top,
    var(--background-grad-1),
    var(--background-grad-2)
  );
  height: 100vh;
  width: 100vw;
}

.container {
  height: 100vh;
  width: 100vw;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

/* Header - Title Score - */
.header {
  display: flex;
  border: 3px solid var(--header-outline);
  border-radius: 10px;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  width: 315px;
  padding: 12px 10px 12px 20px;
  margin-top: 30px;
  z-index: 10;
}

.logo {
  height: 75%;
  margin: auto 0;
}

.score-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 3px;
  height: 70px;
  width: 80px;
  line-height: 1;
  position: relative;
  z-index: 10;
}

.score-title {
  color: var(--score-text);
  font-size: 0.65rem;
  letter-spacing: 0.1em;
}

.score-points {
  color: var(--dark-text);
  font-size: 2.5rem;
  font-weight: 700;
}

/* Game Container */
.game-container {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas:
    'paper scissors'
    'rock rock';
  place-items: center;
  height: auto;
  gap: 15px 50px;
}

.game-container::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: url('./assets/images/bg-triangle.svg') no-repeat center;
  background-size: 60%;
  background-position: center 50%;
  z-index: 0;
}

/* Choice Buttons */
.choice-btn {
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
  transition: all 0.2s ease;
  border-radius: 50%;
  margin-bottom: 10px;
}

.choice-btn:hover,
.choice-btn:focus {
  transform: translateY(-8px);
  box-shadow: 0 0 0 1.5rem #2e43699e;
}

.choice {
  position: relative;
  width: 130px;
  height: 130px;
  border-radius: 50%;
  display: grid;
  place-items: center;
  z-index: 0;
}

.choice > * {
  position: relative;
  z-index: 2;
}

.choice::before {
  content: '';
  position: absolute;
  width: 100px;
  height: 100px;
  background: white;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  box-shadow: inset 0 0.5rem hsla(0, 0%, 0%, 0.15);
}

.choice.paper::before {
  background-image: url('./assets/images/icon-paper.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 55px;
}

.choice.scissors::before {
  background-image: url('./assets/images/icon-scissors.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 55px;
}

.choice.rock::before {
  background-image: url('./assets/images/icon-rock.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 55px;
}

.choice.paper {
  background: linear-gradient(
    to bottom,
    var(--paper-grad-1),
    var(--paper-grad-2)
  );
  box-shadow: 0 0.5rem rgba(0, 0, 0, 0.3), 0 0.5rem var(--paper-grad-2);
}

.choice.scissors {
  background: linear-gradient(
    to bottom,
    var(--scissors-grad-1),
    var(--scissors-grad-2)
  );
  box-shadow: 0 0.5rem rgba(0, 0, 0, 0.3), 0 0.5rem var(--scissors-grad-2);
}

.choice.rock {
  background: linear-gradient(
    to bottom,
    var(--rock-grad-1),
    var(--rock-grad-2)
  );
  box-shadow: 0 0.5rem rgba(0, 0, 0, 0.3), 0 0.5rem var(--rock-grad-2);
}

.choice-btn[data-choice='paper'] {
  grid-area: paper;
}

.choice-btn[data-choice='scissors'] {
  grid-area: scissors;
}

.choice-btn[data-choice='rock'] {
  grid-area: rock;
}

/* Rules Button */
.rules-btn {
  position: absolute;
  bottom: 10vh;
  left: 50%;
  transform: translateX(-50%);
  border: 2px solid var(--header-outline);
  border-radius: 10px;
  background: none;
  width: 130px;
  height: 40px;
  color: var(--light-text);
  font-size: 1.1rem;
  letter-spacing: 0.1em;
  cursor: pointer;
  outline: none;
  font-family: inherit;
  text-transform: inherit;
}

.rules-btn:focus,
.rules-btn:hover {
  border: 2px solid #fff;
}

/* Results Container*/
.results-container {
  display: grid;
  place-items: center;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas:
    'resultUser resultAI'
    'resultTitle resultTitle';
  width: 90%;
  margin: 0 auto;
  opacity: 0;
  transition: opacity 0.4s ease;
  margin-bottom: 2rem;
  position: relative;
}

.result-content[data-content='user'] {
  grid-area: resultUser;
}

.result-content[data-content='ai'] {
  grid-area: resultAI;
}

.result-content[data-content='user'],
.result-content[data-content='ai'] {
  grid-area: unset;
  position: relative;
  z-index: 1;
}

.results-container > div {
  flex: 1;
}

.result-content {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  max-width: 350px;
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.result-choice-wrapper {
  position: relative;
  width: 130px;
  height: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.winner-effect {
  position: absolute;
  top: 0;
  left: 0;
  width: 130px;
  height: 130px;
  border-radius: 50%;
  pointer-events: none;
  z-index: 0;
  display: none;
}

.winner-effect.active {
  display: block;
  box-shadow: 0 0 0 2rem rgba(34, 51, 81, 0.6), 0 0 0 4rem rgba(34, 51, 81, 0.4),
    0 0 0 6rem rgba(34, 51, 81, 0.2);
}

.winner-effect-global {
  position: absolute;
  width: 130px;
  height: 130px;
  border-radius: 50%;
  pointer-events: none;
  z-index: 0;
  display: none;
  top: 0;
  left: 0;
}

.winner-effect-global.active {
  display: block;
  box-shadow: 0 0 0 2rem rgba(34, 51, 81, 0.6), 0 0 0 4rem rgba(34, 51, 81, 0.4),
    0 0 0 6rem rgba(34, 51, 81, 0.2);
}

.choice.winner::after {
  display: none !important;
}

.result-game {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 350px;
  gap: 1rem;
  grid-area: resultTitle;
}

.result-heading {
  color: var(--light-text);
  font-size: 1.1rem;
  letter-spacing: 0.1em;
  height: auto;
  z-index: 1;
  order: 2;
  margin-bottom: 2rem;
}

.result-placeholder {
  width: 110px;
  height: 110px;
  background: #16213d;
  border-radius: 50%;
  transform: scale(1.25);
  margin-top: 1.3rem;
  position: relative;
  z-index: 2;
}

.results-title {
  color: white;
  font-size: 3.5rem;
  z-index: 1;
}

.reset-btn {
  background-color: white;
  font-family: inherit;
  text-transform: inherit;
  letter-spacing: 0.1em;
  width: 75%;
  padding: 1rem;
  border-radius: 5px;
  z-index: 1;
  cursor: pointer;
  transition: all 0.2s ease;
  border: none;
}

.reset-btn:hover,
.reset-btn:focus {
  color: red;
  translate: 0 -3px;
}

.hidden {
  display: none;
}

.show {
  opacity: 1;
}

/* Modal Rules */
.modal {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: none;
  place-items: center;
  background: rgba(0, 0, 0, 0.3);
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  z-index: 10;
}

.modal-container {
  display: flex;
  flex-direction: column;
  background: white;
  padding: 2rem;
  height: 100%;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}

.modal-title {
  font-size: 1.5rem;
  color: var(--dark-text);
}

.close-btn {
  border: none;
  background: none;
  outline: none;
  cursor: pointer;
}

.rules-image {
  padding-top: 2rem;
}

.show-modal {
  display: grid;
  opacity: 1;
  pointer-events: initial;
}

/* Footer */
.attribution {
  font-size: 0.75rem;
  text-align: center;
  color: #ffffff50;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

footer {
  width: 100%;
  margin-bottom: 25px;
}

.page-fade {
  position: fixed;
  inset: 0;
  width: 100vw;
  height: 100vh;
  background: #000;
  z-index: 9999;
  opacity: 1;
  pointer-events: none;
  transition: opacity 0.7s cubic-bezier(0.4, 0, 0.2, 1);
}

.page-fade.fade-out {
  opacity: 0;
  pointer-events: none;
}

/* Desktop styles */
@media (min-width: 900px) {
  .rules-btn {
    right: 2rem;
    left: unset;
    transform: none;
  }

  .modal-container {
    position: relative;
    width: auto;
    height: auto;
    padding: 2rem;
    border-radius: 10px;
  }

  .close-btn {
    position: absolute;
    top: 2rem;
    right: 2rem;
  }

  .modal-title {
    position: absolute;
    top: 2rem;
    left: 2rem;
  }

  .rules-image {
    margin-top: 2rem;
  }

  .header {
    width: 705px;
    height: 155px;
    border-radius: 16px;
    padding-right: 1.1rem;
    padding-left: 2rem;
  }

  .score-container {
    width: 150px;
    height: 110px;
    border-radius: 8px;
  }

  .score-title {
    font-size: 1.2rem;
  }

  .score-points {
    font-size: 4rem;
  }

  .choice {
    width: 200px;
    height: 200px;
  }

  .choice::before {
    width: 150px;
    height: 150px;
  }

  .choice.paper::before {
    background-size: 85px;
  }

  .choice.scissors::before {
    background-size: 85px;
  }

  .choice.rock::before {
    background-size: 85px;
  }

  .game-container {
    row-gap: 1.5rem;
    column-gap: 6rem;
  }

  .choice-btn:hover,
  .choice-btn:focus {
    box-shadow: 0 0 0 2rem #2e43699e;
  }
}
