@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&display=swap');

:root {
  --light-text: #fff;
  --dark-text: hsl(229, 25%, 31%);
  --score-text: hsl(229, 64%, 46%);
  --header-outline: hsl(217, 16%, 45%);
  --background-grad-1: hsl(214, 47%, 23%);
  --background-grad-2: hsl(237, 49%, 15%);
  --scissors-grad-1: hsl(39, 89%, 49%);
  --scissors-grad-2: hsl(40, 84%, 53%);
  --paper-grad-1: hsl(230, 89%, 62%);
  --paper-grad-2: hsl(230, 89%, 65%);
  --rock-grad-1: hsl(349, 71%, 52%);
  --rock-grad-2: hsl(349, 70%, 56%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-transform: uppercase;
}

body {
  font-family: 'Barlow Semi Condensed', sans-serif;
}

.container {
  background: radial-gradient(
    at top,
    var(--background-grad-1),
    var(--background-grad-2)
  );
  height: 100vh;
  width: 100vw;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

/* Header - Title Score - */
.header {
  display: flex;
  border: 3px solid var(--header-outline);
  border-radius: 15px;
  justify-content: space-between;
  align-items: center;
  height: 150px;
  width: 700px;
  padding: 1rem 1.4rem 1rem 2rem;
  margin-top: 45px;
}

.logo img {
  height: 100%;
}

.score-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 8px;
  height: 114px;
  width: 150px;
  line-height: 1;
}

.score-title {
  color: var(--score-text);
  font-size: 1.1rem;
  letter-spacing: 0.1em;
}

.score-points {
  color: var(--dark-text);
  font-size: 4rem;
  font-weight: 700;
}

/* Game Container */
.game {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
    'paper scissors'
    'rock rock';
  place-items: center;
  height: auto;
  gap: 2rem 5rem;
}

.game::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: url('./assets/images/bg-triangle.svg') no-repeat center;
  z-index: 0;
}

/* Choice Buttons */
.choice-btn {
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
  transition: all 0.2s ease;
  border-radius: 50%;
}

.choice-btn:hover,
.choice-btn:focus {
  transform: translateY(-8px);
  box-shadow: 0 0 0 2rem #223351;
}

.choice {
  position: relative;
  width: 205px;
  height: 205px;
  background: white;
  border-radius: 50%;
  display: grid;
  place-items: center;
  box-shadow: inset 0 0.5rem hsla(0, 0%, 0%, 0.15);
  z-index: 0;
}

.choice::before {
  content: '';
  position: absolute;
  width: 152px;
  height: 152px;
  background: white;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.choice img {
  transform: scale(1.5);
  z-index: 2;
}

.choice.paper {
  background: linear-gradient(
    to bottom,
    var(--paper-grad-1),
    var(--paper-grad-2)
  );
  box-shadow: 0 0.5rem rgba(0, 0, 0, 0.3), 0 0.5rem var(--paper-grad-2);
}

.choice.scissors {
  background: linear-gradient(
    to bottom,
    var(--scissors-grad-1),
    var(--scissors-grad-2)
  );
  box-shadow: 0 0.5rem rgba(0, 0, 0, 0.3), 0 0.5rem var(--scissors-grad-2);
}

.choice.rock {
  background: linear-gradient(
    to bottom,
    var(--rock-grad-1),
    var(--rock-grad-2)
  );
  box-shadow: 0 0.5rem rgba(0, 0, 0, 0.3), 0 0.5rem var(--rock-grad-2);
}

.choice-btn[data-choice='paper'] {
  grid-area: paper;
}

.choice-btn[data-choice='scissors'] {
  grid-area: scissors;
}

.choice-btn[data-choice='rock'] {
  grid-area: rock;
}

/* Rules Button */
.rules-btn {
  position: absolute;
  bottom: 2rem;
  right: 2rem;
  border: 2px solid var(--header-outline);
  border-radius: 10px;
  background: none;
  width: 128px;
  height: 40px;
  color: var(--light-text);
  font-size: 1.1rem;
  letter-spacing: 0.1em;
  cursor: pointer;
  outline: none;
  font-family: inherit;
  text-transform: inherit;
}

.rules-btn:focus {
  border: 2px solid #fff;
}

.results {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
  grid-template-areas:
    'you-title ai-title'
    'you-picked ai-picked';
  max-width: 1000px;
  margin: 0 auto;
}

.results-heading {
  color: var(--light-text);
  font-size: 1.5rem;
  letter-spacing: 0.1em;
  padding: 4rem 0 8rem;
}

.results-result {
  min-width: 10rem;
  min-height: 10rem;
  background: #16213d;
  border-radius: 50%;
}

.results-heading:first-of-type {
  grid-area: you-title;
}

.results-heading:last-of-type {
  grid-area: ai-title;
}

.results-results:first-of-type {
  grid-area: you-picked;
}

.results-results:last-of-type {
  grid-area: ai-picked;
}

/* Modal Rules */
.modal {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: grid;
  place-items: center;
  background: rgba(0, 0, 0, 0.3);
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.modal-container {
  background: white;
  border-radius: 0.5rem;
  padding: 2rem;
}

.modal-header {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.modal-heading {
  font-size: 1.5rem;
  color: var(--dark-text);
}

.close-btn {
  border: none;
  background: none;
  outline: none;
  cursor: pointer;
}

.rules-image {
  padding-top: 2rem;
}

.show-modal {
  opacity: 1;
  pointer-events: initial;
}

/* Footer */
.attribution {
  font-size: 0.75rem;
  text-align: center;
  color: #ffffff50;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

footer {
  width: 100%;
  margin-bottom: 25px;
}
